<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>

<ul class="list-group">

<% @cocktail.dose.each do |dose| %>
  <li class="list-group-item">
    <%= dose.description %> |
    <%= link_to "Destroy",
          dose_path(dose),
          method: :delete,
          data: {confirm: "Are you sure?"} %>
  </li>
<% end %>
</ul>
